<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<!-- Set correct MIME types for .gz files -->
			<mimeMap fileExtension=".js.gz" mimeType="application/javascript" />
			<mimeMap fileExtension=".wasm.gz" mimeType="application/wasm" />
			<mimeMap fileExtension=".data" mimeType="application/octet-stream" />
		</staticContent>

		<httpCompression>
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<dynamicTypes>
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="text/css" enabled="true" />
			</dynamicTypes>
			<staticTypes>
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="text/css" enabled="true" />
			</staticTypes>
		</httpCompression>

		<rewrite>
			<outboundRules>
				<!-- Add gzip encoding header for .js.gz and .css.gz files -->
				<rule name="Add gzip encoding for .js.gz files" preCondition="IsGzippedJs">
					<match serverVariable="RESPONSE_Content-Encoding" pattern=".*" />
					<action type="Rewrite" value="gzip" />
				</rule>
				<rule name="Add gzip encoding for .css.gz files" preCondition="IsGzippedCss">
					<match serverVariable="RESPONSE_Content-Encoding" pattern=".*" />
					<action type="Rewrite" value="gzip" />
				</rule>

				<!-- Precondition to check for .gz files -->
				<preConditions>
					<preCondition name="IsGzippedJs">
						<add input="{REQUEST_FILENAME}" pattern="\.js\.gz$" />
					</preCondition>
					<preCondition name="IsGzippedCss">
						<add input="{REQUEST_FILENAME}" pattern="\.css\.gz$" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>
